---
pagination:
  data: locales
  size: 1
  alias: lang
permalink: "/{{ lang }}/impact/"
layout: layouts/base.njk
---

<div class="pt-32 min-h-screen bg-white animate-in">
    <div class="container mx-auto px-6 max-w-4xl text-center mb-24">
        <h1 class="text-5xl md:text-7xl font-serif mb-8">{{ impact[lang].hero_title }}</h1>
        <p class="text-xl text-neutral-600 font-light leading-relaxed">{{ impact[lang].hero_text }}</p>
    </div>
</div>
